@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 77%;
    }
}

.login-form {
    height: 100%;
}

.login-form .column {
    max-width: 450px;
}

.login-form .grid {
    height: 100%;
}

.login-form .image {
    margin-top: -100px;
}

.nb-container {
    margin-top: 60px;
}