{{define "page/account"}}
{{template "common/header" .}}
{{template "component/menu" .}}
<div class="nb-container">
    <div class="ui container">
        <div class="ui grid">
            <div class="two columns row">
                <div class="column">
                    <h2>GitHub 账户</h2>
                </div>
                <div class="right aligned column">
                    <div class="ui vertical animated button" onclick="addAccount()">
                        <div class="hidden content">绑定</div>
                        <div class="visible content">
                            <i class="plug icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <table class="ui very basic celled table">
                <thead>
                    <tr>
                        <th>标志</th>
                        <th>名称</th>
                        <th>状态</th>
                        <th>管理操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Accounts}}
                    <tr>
                        <td>
                            <img src="{{.AvatarURL}}" class="ui mini rounded image">
                        </td>
                        <td>
                            {{.Name}}
                        </td>
                        <td>
                            {{.Status}}
                        </td>
                        <td>
                            <div class="ui four buttons">
                                <button class="primary ui mini button"><i class="sync icon"></i></button>
                                <button class="red ui mini button"><i class="icon delete"></i></button>
                            </div>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{template "component/addAccount" .}}
{{template "component/confirm" .}}
{{template "common/footer" .}}
{{end}}