{{define "page/company"}}
{{template "common/header" .}}
{{template "component/menu" .}}
<div class="nb-container">
    <div class="ui container">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="{{.Company.AvatarURL}}">
                    </div>
                    <div class="content">
                        <a class="header">{{.Company.Brand}}</a>
                        <div class="meta">
                            <span class="date">{{.Company.CreatedAt|tf}}加入</span>
                        </div>
                        <div class="description">
                            <div class="description avatar-list">
                                {{if .Company.SuperManagers}}
                                <div class="ui horizontal divider">超管</div>
                                {{range .Company.SuperManagers}}
                                <p class="ui inline mini fade reveal circular rotate image">
                                    <img class="visible content" src="{{.AvatarURL}}">
                                    <button class="hidden content circular ui red icon button"
                                        onclick="showConfirm('确认移出管理员「'+{{.Name}}+'」？','该操作不会同步移出雇员所在小组',removeEmployee,{type:'company',id:'{{$.Company.ID}}',userID:'{{.ID}}'})">
                                        <i class="icon delete"></i>
                                    </button>
                                </p>
                                {{end}}
                                <p class="ui inline mini circular rotate image">
                                    <button class="circular ui primary icon button"
                                        onclick="addEmployee('company',{{$.Company.ID}})">
                                        <i class="icon add"></i>
                                    </button>
                                </p>
                                {{end}}
                                <div class="ui horizontal divider">管理员</div>
                                {{range .Company.Managers}}
                                <p class="ui inline mini fade reveal circular rotate image">
                                    <img class="visible content" src="{{.AvatarURL}}">
                                    <button class="hidden content circular ui red icon button"
                                        onclick="showConfirm('确认移出管理员「'+{{.Name}}+'」？','该操作不会同步移出雇员所在小组',removeEmployee,{type:'company',id:'{{$.Company.ID}}',userID:'{{.ID}}'})">
                                        <i class="icon delete"></i>
                                    </button>
                                </p>
                                {{end}}
                                <p class="ui inline mini circular rotate image">
                                    <button class="circular ui primary icon button"
                                        onclick="addEmployee('company',{{$.Company.ID}})">
                                        <i class="icon add"></i>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <p><i class="red heart icon"></i> Happy Workday </p>
                    </div>
                </div>
            </div>
            <div class="twelve wide column grid-list">
                <div class="ui grid">
                    <div class="two columns row">
                        <div class="column">
                            <h2>账号列表</h2>
                        </div>
                        <div class="right aligned column">
                            <div class="ui vertical animated button" onclick="addAccount()">
                                <div class="hidden content">绑定</div>
                                <div class="visible content">
                                    <i class="plug icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="ui very basic celled table">
                        <thead>
                            <tr>
                                <th>头像</th>
                                <th>昵称</th>
                                <th>绑定时间</th>
                                <th>状态</th>
                                <th>管理操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Accounts}}
                            <tr>
                                <td>
                                    <img src="{{.AvatarURL}}" class="ui mini rounded image">
                                </td>
                                <td>
                                    {{.Name}}
                                </td>
                                <td>
                                    {{.CreatedAt|tf}}
                                </td>
                                <td>
                                    {{.Status}}
                                </td>
                                <td>
                                    <div class="ui icon buttons">
                                        <button class="ui mini button"><i class="icon sync"></i></button>
                                        <button class="red ui mini button"><i class="icon delete"></i></button>
                                    </div>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="ui grid">
                    <div class="two columns row">
                        <div class="column">
                            <h2>小组列表</h2>
                        </div>
                        <div class="right aligned column">
                            <div class="ui vertical animated button" onclick="addTeam()">
                                <div class="hidden content">创建</div>
                                <div class="visible content">
                                    <i class="add icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui card-list three cards">
                        {{range $team := .Teams}}
                        <div class="card">
                            <div class="content">
                                <div class="header">
                                    {{$team.Name}}
                                    <div class="right floated ui mini icon buttons">
                                        <button class="ui primary button"
                                            onclick="bindRepository({{$team.ID}},{{$team.RepositoriesID}})"><i
                                                class="icon cubes"></i></button>
                                        <button class="ui button"><i class="icon edit"></i></button>
                                        <button class="ui red button"
                                            onclick="showConfirm('确认移除小组「'+{{$team.Name}}+'」？','将会把雇员移出小组下的所有仓库（雇员所属其他小组的仓库除外）',removeTeam,{{$team.ID}})"><i
                                                class="icon delete"></i></button>
                                    </div>
                                </div>
                                <div class="meta">创建于 {{$team.CreatedAt|tf}}</div>
                                <div class="description avatar-list">
                                    {{if $team.Managers}}
                                    <div class="ui horizontal divider">组长</div>
                                    {{range $team.Managers}}
                                    <p class="ui inline mini fade reveal circular rotate image">
                                        <img class="visible content" src="{{.AvatarURL}}">
                                        <button class="hidden content circular ui red icon button"
                                            onclick="alert('bingo')">
                                            <i class="icon delete"></i>
                                        </button>
                                    </p>
                                    {{end}}
                                    <p class="ui inline mini circular rotate image">
                                        <button class="circular ui primary icon button"
                                            onclick="addEmployee('team',{{$team.ID}})">
                                            <i class="icon add"></i>
                                        </button>
                                    </p>
                                    {{end}}
                                    <div class="ui horizontal divider">组员</div>
                                    {{range $team.Employees}}
                                    <p class="ui inline mini fade reveal circular rotate image">
                                        <img class="visible content" src="{{.AvatarURL}}">
                                        <button class="hidden content circular ui red icon button"
                                            onclick="showConfirm('确认移出雇员「'+{{.Name}}+'」？','将会把雇员移出小组下的所有仓库（雇员所属其他小组的仓库除外）',removeEmployee,{type:'team',id:'{{$team.ID}}',userID:'{{.ID}}'})">
                                            <i class="icon delete"></i>
                                        </button>
                                    </p>
                                    {{end}}
                                    <p class="ui inline mini circular rotate image">
                                        <button class="circular ui primary icon button"
                                            onclick="addEmployee('team',{{$team.ID}})">
                                            <i class="icon add"></i>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
                <div class="ui grid">
                    <div class="two columns row">
                        <div class="column">
                            <h2>仓库列表</h2>
                        </div>
                        <div class="right aligned column">
                            <div class="ui vertical animated button" onclick="addRepository()">
                                <div class="hidden content">创建</div>
                                <div class="visible content">
                                    <i class="add icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="ui very basic celled table">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>外部雇员</th>
                                <th>同步时间</th>
                                <th>管理操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $repo := .Repositories}}
                            <tr>
                                <td {{if $repo.Description}}data-tooltip="{{$repo.Description}}" {{end}}>
                                    {{$repo.Name}}
                                </td>
                                <td class="avatar-list">
                                    {{range $repo.OutsideCollaborators}}
                                    <p class="ui inline mini fade reveal circular rotate image">
                                        <img class="visible content" src="{{.AvatarURL}}">
                                        <button
                                            onclick="showConfirm('确认移出雇员「'+{{.Name}}+'」？','将会把雇员移出次此仓库',removeEmployee,{type:'repository',id:'{{$repo.ID}}',userID:'{{.ID}}'})"
                                            class="hidden content circular ui red icon button">
                                            <i class="icon delete"></i>
                                        </button>
                                    </p>
                                    {{end}}
                                    <p class="ui inline mini circular rotate image">
                                        <button class="circular ui primary icon button"
                                            onclick="addEmployee('repository',{{$repo.ID}})">
                                            <i class="icon add"></i>
                                        </button>
                                    </p>
                                </td>
                                <td>
                                    {{$repo.SyncedAt|tf}}
                                </td>
                                <td>
                                    <div class="ui icon buttons">
                                        <button class="ui mini button"><i class="icon sync"></i></button>
                                        <button class="red ui mini button"
                                            onclick="showConfirm('确认注销？','注销后您必须重新登录才能使用',logout,1)"><i
                                                class="icon delete"></i></button>
                                    </div>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "component/bindRepository" .}}
{{template "component/addTeam" .}}
{{template "component/addRepository" .}}
{{template "component/addAccount" .}}
{{template "component/addEmployee" .}}
{{template "common/footer" .}}
{{end}}