{{define "page/home"}}
{{template "common/header" .}}
{{template "component/menu" .}}
<div class="nb-container">
    <div class="ui container">
        <div class="ui grid">
            <div class="five wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="{{.User.AvatarURL}}">
                    </div>
                    <div class="content">
                        <a class="header">{{.User.Name}}</a>
                        <div class="meta">
                            <span class="date">{{.User.CreatedAt|tf}}加入</span>
                        </div>
                        <div class="description">
                            {{if .User.Bio}}<p>{{.User.Bio}}</p>{{end}}
                            {{if .User.Email}}<p><a href="mailto:{{.User.Email}}">{{.User.Email}}</a></p>{{end}}
                            {{if .User.Blog}}<p><a href="{{.User.Blog}}">{{.User.Blog}}</a></p>{{end}}
                        </div>
                    </div>
                    <div class="extra content">
                        <p><i class="fire icon"></i> {{if .User.Hireable}}Available for hire!{{else}} Hard
                            working!{{end}} </p>
                    </div>
                </div>
            </div>
            <div class="eleven wide column grid-list">
                <div class="ui grid">
                    <div class="two columns row">
                        <div class="column">
                            <h2>我的企业</h2>
                        </div>
                        <p class="right aligned column">
                            <span class="ui vertical animated button" onclick="addCompany()">
                                <span class="hidden content">创建</span>
                                <span class="visible content">
                                    <i class="add icon"></i>
                                </span>
                            </span>
                        </p>
                    </div>
                    <table class="ui very basic celled table">
                        <thead>
                            <tr>
                                <th>标志</th>
                                <th>企业</th>
                                <th>超管</th>
                                <th>管理员</th>
                                <th>管理操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Companies}}
                            <tr>
                                <td>
                                    <img src="{{.AvatarURL}}" class="ui mini rounded image">
                                </td>
                                <td>
                                    {{.Brand}}
                                </td>
                                <td class="avatar-list">
                                    {{range .SuperManagers}}
                                    <img class="ui avatar image" src="{{.AvatarURL}}">
                                    {{end}}
                                </td>
                                <td class="avatar-list">
                                    {{range .Managers}}
                                    <img class="ui avatar image" src="{{.AvatarURL}}">
                                    {{end}}
                                </td>
                                <td>
                                    <div class=" ui icon buttons">
                                        <a class="primary ui mini button" href="/company/{{.ID}}"><i
                                                class="icon building outline"></i></a>
                                        <button class="ui mini button"><i class="icon edit"></i></button>
                                        <button class="red ui mini button"><i class="icon delete"></i></button>
                                        <button class="ui warning mini icon button"><i
                                                class="icon sign-out"></i></button>
                                    </div>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "component/addCompany" .}}
{{template "component/confirm" .}}
{{template "common/footer" .}}
{{end}}