{{define "page/repository"}}
{{template "common/header" .}}
{{template "common/menu" .}}
<div class="nb-container">
    <div class="ui container">
        <div class="grid-list">
            <div class="ui grid">
                <div class="two columns row">
                    <div class="column">
                        <h2>Webhooks</h2>
                    </div>
                    <div class="right aligned column">
                        <div class="ui vertical animated button" onclick="addOrEditWebhook()">
                            <div class="hidden content">创建</div>
                            <div class="visible content">
                                <i class="add icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="ui very basic fixed celled table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>激活</th>
                            <th>Events</th>
                            <th>URL</th>
                            <th>最后触发</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $hook := .Hooks}}
                        <tr>
                            <td>
                                {{$hook.ID}}
                            </td>
                            <td>
                                {{$hook.Active}}
                            </td>
                            <td>
                                {{$hook.Events}}
                            </td>
                            <td>
                                {{if eq (index $hook.Config "insecure_ssl") "1"}}
                                [RequireSSL]
                                {{end}}
                                {{index $hook.Config "url"}}
                            </td>
                            <td>
                                {{$hook.UpdatedAt|tf}}
                            </td>
                            <td>
                                <div class="ui icon buttons">
                                    <button class="ui mini button"
                                        onclick="showConfirm('确定发送一个测试请求？','',webhookAction,{action:'ping',rid:{{$.RepoID}},wid:{{$hook.ID}}})"><i
                                            class="icon tty"></i></button>
                                    <button class="ui mini button"
                                        onclick="showConfirm('确定发送最后的 PUSH 事件？','',webhookAction,{action:'test',rid:{{$.RepoID}},wid:{{$hook.ID}}})"><i
                                            class="icon redo"></i></button>
                                    <button class="ui mini button" onclick="addOrEditWebhook(true,{{$hook|json}})"><i
                                            class="icon edit"></i></button>
                                    <button class="ui mini button"
                                        onclick="showConfirm('确定删除 Webhook ？','',webhookAction,{action:'delete',rid:{{$.RepoID}},wid:{{$hook.ID}}})"><i
                                            class="icon delete"></i></button>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{template "component/addWebhook" .}}
{{template "common/footer" .}}
{{end}}