{{define "component/addEmployee"}}
<div class="ui tiny employee modal transition hidden">
    <div class="header">添加雇员</div>
    <div class="content">
        <form id="employeeForm" class="ui form">
            <input type="hidden" name="id">
            <input type="hidden" name="type">
            <div class="field">
                <label>GitHub 登录名</label>
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="field">
                <label>权限</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="permission">
                    <i class="dropdown icon"></i>
                    <div class="default text">成员</div>
                    <div class="menu">
                        <div class="item" data-value="1">成员</div>
                        <div class="item" data-value="2">管理员</div>
                        <div class="item" data-value="3">超级管理员</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative button">取消</div>
        <button class="ui positive right labeled icon button">添加<i class="add icon"></i>
        </button>
    </div>
</div>
{{end}}