{{define "component/addRepository"}}
<div class="ui tiny repository add modal transition hidden">
    <div class="header"></div>
    <div class="content">
        <form id="repositoryForm" class="ui form">
            <input type="hidden" name="id">
            <div class="field">
                <label>仓库名</label>
                <input type="text" name="name" placeholder="awesome-project">
            </div>
            <div class="field">
                <label>私有仓库</label>
                <div class="ui selection private dropdown">
                    <input type="hidden" name="private">
                    <i class="dropdown icon"></i>
                    <div class="default text">请选择</div>
                    <div class="menu">
                        <div class="item" data-value="on">是</div>
                        <div class="item" data-value="off">否</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>选择账号</label>
                <div class="ui selection account dropdown">
                    <input type="hidden" name="account_id">
                    <i class="dropdown icon"></i>
                    <div class="default text">请选择</div>
                    <div class="menu">
                        {{range .Accounts}}
                        <div class="item" data-value="{{.ID}}">{{.Name}}</div>
                        {{end}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative button">取消</div>
        <button class="ui positive right labeled icon button"></button>
    </div>
</div>
{{end}}